/*------------------------------
1- genral 
2- component
3- header
4- loader
5- top
6- index{
  1- sec1
  2- news
  3- sec2
  4- sec3
  5- sec4
  6- sec6
}
7- footer
8- meeting
-------------------------------*/

/*--------------------------------------
*********** START RESET ***********
--------------------------------------*/
@font-face {
  font-family: "FontAwesome";
  src: url("../fonts/fa-brands-400.eot");
}

/* @font-face {
  font-family: Tajawal;
  src: url(../fonts/Tajawal/Tajawal-Regular.ttf);
}
 */
@font-face {
  font-family: Tajawal-Bold;
  src: url(../fonts/Tajawal/Tajawal-Bold.ttf);
}

@font-face {
  font-family: Tajawal-ExtraLight;
  src: url(../fonts/Tajawal/Tajawal-ExtraLight.ttf);
}

@font-face {
  font-family: Tajawal-Light;
  src: url(../fonts/Tajawal/Tajawal-Light.ttf);
}

@font-face {
  font-family: Tajawal;
  src: url(../fonts/Tajawal/Tajawal-Medium.ttf);
}

.body-over {
  overflow-y: hidden !important;
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #489bff;
  outline: 1px solid #fff;
  border-radius: 0px;
}

::-moz-selection {
  background: #489bff;
  color: #fff;
}

::selection {
  background: #489bff;
  color: #fff;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  outline: none !important;
}

body,
html {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: "Tajawal", serif;
  font-style: normal;
  font-weight: 300;
  padding: 0 !important;
  margin: 0 !important;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.2px;
  line-height: 1.6;
  overflow-x: hidden !important;
  direction: rtl;
  text-align: right;
  position: relative;
}

/*******************************************************************/
/*componenent*/
/*******************************************************************/
:root {
  --theme-color: #0a4291;
}
.theme-color {
  color: var(--theme-color);
}
a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.aligne-center {
  text-align: center;
}

.aligne-left {
  text-align: left;
}

.aligne-right {
  text-align: right;
}

.bold {
  font-weight: bold;
}
.block {
  display: block;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.white {
  color: #fff;
}

.gold {
  color: #489bff;
}

.relative {
  position: relative;
}

.aligne-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.hidden {
  overflow: hidden;
}

.inline-block {
  display: inline-block;
}

.no-padding {
  padding: 0;
}

.auto {
  margin: auto;
}

.left {
  float: left;
}

.heigth100 {
  height: 100%;
}
.heigth100-vh {
  height: 100vh;
}

.content-login .row {
  margin: 0;
}
.width100 {
  width: 100%;
}
.form-control:focus {
  box-shadow: unset;
}
.relative {
  position: relative;
}

/*=====button======*/
.material-btn {
  position: relative;
  overflow: hidden;
  padding: 10px 25px;
  border-radius: 4px;
  border: none;
  background: #0b4291;
  font-weight: 500;
  color: #fff;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.wave {
  position: absolute;
  top: 10px;
  left: 20px;

  width: 5px;
  height: 5px;

  border-radius: 100%;
  transform: scale(0);
  background: rgba(0, 0, 0, 0.4);
}

.material-btn--active .wave {
  animation: wave-animation 1.9s;
}

@keyframes wave-animation {
  from {
    opacity: 1;
    transform: scale(0);
  }
  to {
    transform: scale(70);
    opacity: 0;
  }
}

/*====end button ====*/
/*==========loader===============*/
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: #f5f5f5;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  width: 10em;
  height: 10em;
  border-top: 0.8em solid #0b4291;
  border-right: 0.8em solid #0b4291;
  border-radius: 50%;
  margin: auto;
  animation: spinner 0.8s linear infinite;
}

@keyframes spinner {
  100% {
    transform: rotate(360deg);
  }
}
/*==============end loader========*/
/*===========header===========================*/

.navigation {
  background: var(--theme-color);
  padding: 20px 5px 150px;
}
.all-section {
  padding: 40px 0;
}
.nav100 {
  height: 100vh;
}
.log-out {
  color: #fff;
}
.log-out:hover {
  color: #fff;
}
a.log-out span {
  margin-right: 5px;
}

a.log-out img {
  width: 15px;
}
.log-out-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.icon-flex a {
  color: #fff;
}

.search__input:hover,
.search__input:focus {
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid #575756;
  border-radius: 0;
  background-position: 100% center;
}
.input-radius {
  font: 15px;
  color: #333;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
}
.relative.content-input {
  border-radius: 5px;
  background-color: #fff;
}
.effect-11 {
  border: 0;
  padding: 7px;
  border: 1px solid #ccc;
  position: relative;
  background: transparent;
  border-radius: 5px;
  z-index: 1;
}
.effect-11 ~ .focus-bg {
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #ededed;
  transition: 0.3s;
  z-index: 0;
  border-radius: 5px;
}
.effect-11:focus ~ .focus-bg {
  transition: 0.3s;
  width: 100%;
}

.relative.content-input .search-button {
  position: absolute;
  left: 5px;
  top: 10px;
  z-index: 10;
  cursor: pointer;
  background-color: unset;
}

button.search-button i {
  color: #a4a4a4;
}
.input-search {
  padding-left: 18px;
}
/*====================== section content home====================*/
.all-sec-mt {
  margin-top: -130px;
}
.padding-top-0 {
  padding-top: 0;
}
#digital-clock {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 50px;
  width: 400px;
  margin-top: 10px;
  border-radius: 20px;
  color: #fff;
  font-size: 30px;
  position: relative;
  z-index: 1;
}
.cart-home {
  background-color: #fff;
  box-shadow: 0px 5px 15px #0a429114;
  text-align: center;
  height: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
  margin-bottom: 20px;
}
.cart-home img {
  margin-bottom: 10px;
}
p.morning {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}
p.morning + p {
  color: #fff;
  font-size: 14px;
  margin-top: 10px;
}
.cart-home p {
  color: #0b4291;
  font-weight: bold;
}
.cart-home:hover {
  background-color: #f5f5f5;
}
div#digital-clock {
  display: flex;
  align-items: center;
  font-weight: bold;
}
div#digital-clock span {
  font-size: 15px;
}
.container-padding-LR {
  padding: 0 60px;
}

div#digital-clock + img {
  width: 176px;
  position: absolute;
  left: -72px;
  top: -31px;
}
/*======================end section content home======================*/

/* ================searh result =============================*/

.flex-img-name {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  color: #000;
  overflow-x: hidden;
}
.flex-img-name > div {
  flex-grow: 1;
}
.flex-img-name p {
  margin-bottom: 0;
  white-space: nowrap;
  width: calc(100% - 90px);
  overflow: hidden;
  text-overflow: ellipsis;
}
.flex-img-name img {
  width: 90px;
  height: 90px;
  border-radius: 8px;
  margin-left: 10px;
}
.card-status {
  display: flex;
}
.card-status div {
  flex-grow: 1;
}
.personal-data-card {
  box-shadow: 0px 2px 8px #0a429114;
  border-radius: 18px;
  background-color: #fff;
  padding: 17px;
  color: #000;
  margin-bottom: 20px;
  transition: all 0.4s ease-in-out;
}
.personal-data-card:hover {
  background-color: #f5f5f5;
  box-shadow: 0px 2px 3px #0a429114;
}
.card-status-span div span:nth-child(1) {
  color: #9d9d9d;
  font-size: 13px;
}
.section-mt-130 {
  margin-top: -130px;
}
.container-padding-LR-80 {
  padding: 0 80px;
}
/*====================end search result =======================*/

/*======================member html============*/
.section-content-header {
  color: #fff;
  font-weight: bold;
}

.section-content-header span {
  font-size: 16px;
  margin-top: 5px;
}
.section-content-header img {
  width: 35px;
}
.form-content-search {
  width: 60%;
  margin: auto;
}
table.table td {
  border: 0;
}
.td-name a {
  color: #000;
  font-weight: bold;
}
td.td-position {
  color: #b1b1b1;
}
.form-content-search button.material-btn {
  padding: 5px;
  width: 65px;
  font-weight: bold;
}

.form-content-search input {
  width: calc(100% - 103px);
}
.form-content-search i {
  margin-right: 5px;
  color: #a4a4a4;
}
.content-table-member {
  box-shadow: 0px 2px 8px #0a429114;
  border-radius: 0 0 13px 13px;
  padding: 10px 5px;
}
.content-table-member {
  box-shadow: 0px 2px 8px #0a429114;
  border-radius: 0 0 13px 13px;
  padding: 10px 5px;
  padding-top: 36px;
  background-color: #fff;
}
.form-content-search {
  padding-top: 52px;
  position: relative;
}
.form-content-search form {
  box-shadow: 0px 2px 8px #0a429114;
  background-color: #fff;
  padding: 10px 5px;
  border-radius: 10px;
  position: absolute;
  /* left: 0; */
  width: 100%;
  top: 26px;
}
.content-table-member {
}
/*===================end member html =======*/
/****************************************************/
/*****************login*******************************/

.login-blue {
  background-color: var(--theme-color);
  background-image: url(../img/login.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.login-flex-form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-login {
  width: 140px;
  height: 140px;
  object-fit: contain;
  margin-bottom: 20px;
}
.login-flex-form form {
  width: 60%;
  margin: auto;
}
section.content-login h4 {
  font-weight: bold;
}
.login-flex-form label {
  font-size: 12px;
  color: #6b6b6b;
}
.section-mt-150{
  margin-top: -150px;
}
/*******************end login*****************************/
/***************responsive******************************/
/* Media Screen */
@media (max-width: 1450px) {
}
@media (max-width: 1050px) {
}
@media (min-width: 991px) and (max-width: 1199px) {
}
@media (max-width: 1024px) {
}
@media only screen and (max-width: 991px) {
  .container-padding-LR-80 {
    padding: 0 20px;
  }
}
@media only screen and (max-width: 767px) {
  /**********component***********/
  .all-section {
    padding: 20px 0;
  }
  /*********end component********/
  /*********login***************/
  .responsive-none {
    display: none;
  }
  .content-login {
    background-image: url(../img/panel_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  /*  .col-md-4.log-out-flex {
    margin-top: 15px;
  } */
  .icon-flex span {
    display: none;
  }

  a.log-out span {
    display: none;
  }
  input.effect-11 {
    font-size: 12px;
  }
  /*=============home===================*/
  .container-padding-LR {
    padding: 0 15px;
  }
  .cart-home img {
    width: 35px;
  }
  #digital-clock {
    justify-content: unset;
  }
  .cart-home p {
    font-size: 12px;
  }
  .cart-home {
    margin-bottom: 15px;
  }

  /*==========end home=================*/
  /*=====search result=======*/
  .container-padding-LR-80 {
    padding: 0 15px;
  }
  .personal-data-card {
    margin-bottom: 15px;
  }
  .flex-img-name p {
    font-size: 12px;
  }
  .flex-img-name p {
    font-size: 12px;
  }
  /*=============end  search =============*/
  /*=================== member html =======*/
  .form-content-search {
    width: 100%;
  }
  .form-content-search .table td,
  .form-content-search .table th {
    padding: 0.7rem 0.3rem;
    font-size: 12px;
  }
  .section-content-header span {
    font-size: 14px;
    margin-top: 3px;
  }

  .section-content-header img {
    width: 25px;
  }
  /*===================end member html =======*/
}
@media only screen and (max-width: 600px) {
  .login-flex-form form {
    width: 80%;
    margin: auto;
  }
}
@media only screen and (max-width: 320px) {
  .img-sec1-none {
    display: block;
    width: 90px;
    margin: 0 auto;
    height: 90px;
    margin-bottom: 25px;
    margin-top: -70px;
  }

  .p-sec1 {
    height: 95px;
    overflow: hidden;
    width: 260px;
  }

  h3 {
    font-size: 20px;
  }
}
